volumes:
  postgres-data:

services:
  postgres:
    container_name: postgres_directory_service
    image: postgres:17
    environment:
      POSTGRES_DB: directory_service_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres-data:/var/lib/postgresql/data
    ports:
      - "5434:5432"
    restart: always