<?xml version="1.0" encoding="utf-8"?>

<configuration>
 <packageSources>
     <clear />
     <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
     <add key="gitlab" value="https://gitlab.com/api/v4/projects/79751304/packages/nuget/index.json" />
 </packageSources>

 <packageSourceCredentials>
     <gitlab>
         <add key="Username" value="BenjaminBTN" />
         <add key="ClearTextPassword" value="glpat-oOqEaY7hvFBTJb5HGGCHSm86MQp1OmtyZm1lCw.01.120qkldex" />
     </gitlab>
 </packageSourceCredentials>

 <packageSourceMapping>
    <packageSource key="nuget.org">
        <package pattern="*" />
    </packageSource>
    <packageSource key="gitlab">
        <package pattern="BenjaminBTN.*" />
    </packageSource>
 </packageSourceMapping>

</configuration>